.login {
  .custom-fieldset {
    position: relative;
    padding-top: 1rem; 
    border: 1px solid #6c757d; 
  }

  .custom-legend {
    font-weight: bold;
    font-size: 0.875rem;
    color: #6c757d; 
    position: absolute;
    top: -0.6rem; 
    left: 1rem;
    background: white; 
    padding: 0 0.25rem;
  }

  
}
